@import 'tailwindcss';

/* Universal background gradient */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-attachment: fixed; /* optional: gradient stays fixed while scrolling */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
